

.container {
    display: grid;
    grid-template-rows: 50px repeat(4, 250px) 50px;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas: 
        ". a b ."
        ". c d ."
        ". e f ."
        ". g h ."
        ". i j ."
        ". k l .";
}

/* for separation colours I'll use red and blue with dark red and blue as sections that should be empty */

/* Background colours */
.even-sec {
    background-color: lightcoral;
}

.odd-sec {
    background-color: lightblue;
}

/* Defining areas */

.header {
    grid-area: . a b .;
}
.sec1 {
    grid
}