

.container {
    display: grid;
    grid-template-rows: 50px repeat(4, 250px) 50px;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas: 
        ". logo links ."
        ". a1 a2 ."
        ". b1 b2 ."
        ". c1 c2 ."
        ". d1 d2 ."
        ". e1 e2 .";
}

.logo {
    grid-area: logo;
    justify-self: center;
}
.links {
    grid-area: links;
    justify-self: center;
}
.a1 {
    grid-area: a1;
    justify-self: left;
}
.a2 {
    grid-area: a2;
    justify-self: right;
}